{{#ui-dropdown selected=_value class="ui search inline dropdown searchSchema filters--search"
data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
fullTextSearch='exact' sort=true forceSelection=false}}
    <div class="default text">search your data</div>
    <div class="menu"></div>
    &nbsp;<i class="fa fa-search"></i>
{{/ui-dropdown}}


