<div class="ui fluid left labeled input" style="width:250px">
    <div class="ui basic label">
        <i class="fa fa-calendar"></i>
    </div>
    <input type='text' title="calendar" id='datetimepicker1'>
</div>