{{#main-modal ok='done' close='removeModal' showFooter=false showHeader=false showButtons=false showOkButton=true}}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img style='float:right;width:80px;height:80px; margin-right:50px;' src="/assets/images/adhocwhy.png" />
            	<p>
	             <strong>Unfortunately, you have run out of requests. Please try again later.</strong>
			      <br><br>
			      </p>
			      <p style="color:#808080">Requests Left: 0 out of 10</p>
			      
			      
			     
			    
		</div>
		
        </div>
    </div>

{{/main-modal}}
