{{#main-modal ok='done' close='removeModal' showFooter=false showHeader=false showSave=true size=size}}

    <div class="container">
        <h4>Are you sure you want to remove this chart from your dashboard?</h4>
    </div>

{{/main-modal}}
